body {
	margin: 0;
    font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: #DFF6FF;
    background-color: #06283D;
    font-weight: 400;
}

header {
    font-family: "Newsreader";
}
